/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 28, 2018, 12:29:20 AM
    Author     : dgargov
*/

.yoyo {
    background: url("#{resource['images:pic2.jpg']}") no-repeat center center fixed;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.cont{
    background: url("#{resource['images:pic5.jpg']}") no-repeat center center fixed;
    color: black;
    
}

.cont2{
    background: url("#{resource['images:pic9.jpg']}") no-repeat center center fixed;
    color: white;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.cont3{
    background: url("#{resource['images:pic11.jpg']}") no-repeat center center fixed;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.cont4{
    background: url("#{resource['images:pic14.jpg']}") no-repeat center center fixed;
    
    color: #ff6600;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.cont5{
    /*background: url("#{resource['images:pic16.jpg']}") no-repeat center center fixed;*/
    background: #333333;
    color: #0033ff;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.ui-accordionn .ui-accordion-content{
    background: black;
}
.red {
    background: url("I:\NetBeansApps\WebApplication2\web\resources\images\pic2.jpg");
    color: red;
}

